* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	line-height: 1.2;
}

a {
	-webkit-tap-highlight-color: rgba(1, 113, 141, 0.2);
}

/* Header */

header {
	margin-top: 10px;
	margin-bottom: 50px;
	width: 100%;
	position: inherit;
}

header h1 {
	width: auto;
}

nav {
	position: inherit;
	top: 0;
	left: 0;
	width: auto;
	margin-top: 25px;
	margin-left: 10px;
}

nav ul li {
	font-size: 16px;
}

/* Footer */

footer {
	width: 90%;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 50px;
}

/* Page-specific */

body#home header {
	position: absolute;
	top: 0;
	left: 0;
	bottom: auto;
}

body#home header h1 {
	font-size: 36px;
	line-height: 36px;
	width: auto;
}

body#home header nav {
	position: absolute;
	float: none;
	top: 40px;
	left: 0;
}

body#home header nav ul li {
	display: block;
	margin-bottom: 15px;
}

body#home footer {
	position: absolute;
	bottom: 0;
	left: 0;
}


