/* shared */




/* post */

body{
	font-family: 'Libre Baskerville', serif;
}

body#post {
 border: 5px solid red;
	width: 600px;
	position: relative;
	margin: 0 auto;

	color: #000;
	background-color: #ffffff;

	font-family: 'Libre Baskerville', serif;
	/*font-family: 'Roboto', sans-serif;
	/*font-family: 'Buda', cursive;
	font-family: 'Simonetta', cursive;
	font-family: 'Glegoo', serif;
	font-family: 'Lora', serif;
	font-family: 'Droid Sans', sans-serif;*/
	font-family: 'Tinos', serif;
	font-size: 15px;
   	line-height: 1.35;

}

header h1 {
 border: 5px solid red;
	margin-left: 0
	font-family: 'Sacramento', cursive;
	/*font-family: 'Stalemate', cursive;
	font-family: 'Montez', cursive;
	font-family: 'Italianno', cursive;*/
	font-size: 36px
}


header h1 span{
	border: 5px solid red;
	font-size: 20px
}

article h1{
	border: 5px solid red;
    width: 600px;
    margin-top: 300px
    padding-left: 300px;
	display: table-cell;
    text-align:center;
}

h1 a,
h2 a,
h3 a,
h4 a,
li a {
	display: inline-block;
	color: #000;
}

.timestamp {
border-style: solid;
border-width: 5px;
    text-align:center;
	font-size: 14px;
	color: #aaa;
	margin-bottom: 36px;
}

nav{

}

header nav {
border: 5px solid red;
	width: auto;
	margin-bottom: 30px
}

header nav ul {
border: 5px solid red;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

header nav ul li {
 border: 5px solid red;
	display: inline;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;
	font-size: 16px;
}

footer {
	margin-left: 10px;
}

/* resources list*/
h2.resources{
	font-size: 20px
}

