<header>
            <h1><a href="http://shuyanlu.github.io/">Shuyan(Lucy) Lu</a><span class="sub">, future data scientist</span></h1>
            <nav>
                <ul>
                    <li><a href="http://shuyanlu.github.io/">About</a></li>
                    <li><a href="http://shuyanlu.github.io/">Skills</a></li>
                    <li><a href="http://shuyanlu.github.io/">Education</a></li>
                    <li><a href="http://shuyanlu.github.io/">Portfolio</a></li>
                    <li><a href="http://shuyanlu.github.io/">Resources</a></li>
                    <li><a href="http://shuyanlu.github.io/">Blog</a></li>
                    <li><a href="http://shuyanlu.github.io/">Contact</a></li>
                </ul>
            </nav>
        </header>
